*,
body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

p,
a,
div {
    font-family: 'Roboto', sans-serif;
    color: #CCCCCC;
}

.sub-text {
    transition: 1s;
}


.mb-5 {
    margin-bottom: 5px;
}

.react {
    animation: react-spin infinite 5s linear;
    color: #61DBFB;
}

@keyframes react-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

.icon {
    transition: 0.1s all;

    &.li {
        color: #0077B5;
    }

    &.pdf {
        color: #F15642;

    }

    &:hover {
        transform: scale(1.1);
    }
}


.icon-container {
    display: flex;
    padding: 1em 0em;
    justify-content: flex-start;

    a {
        padding-right: 1em;
    }
}